.col-md-4 {
	box-shadow: 0 18px 40px 5px rgba(0,0,0,.4);
  perspective:800px;
}

.cube{
 transition:transform 2s ease-in-out;
  width:220px;
  height:200px;
  transform-style: preserve-3d;
  margin:0 auto;
}

.cube:hover{
 transform:rotateX(360deg) rotateY(-270deg); 
}

.front,
.back,
.left,
.right,
.top,
.bottom {
  width:200px;
  height:200px;
  display:block;
  position:absolute;
}

.front{
 transform: translate3d(0,0,100px);
 background:red; 
}

.back{
 transform:translate3d(0,0,-100px) rotateY(270deg);
  transform-origin: center left;
  background:green;
}

.left{
 transform: rotateY(-270deg) translate3d(100px,0,0);
  transform-origin:top right;
  background:black;
}

.right{
 transform:translate3d(0,0,-100px) rotateY(180deg); 
 background:blue;
}

.top {
  transform: rotateX(-270deg) translate3d(0,-100px,0);
  transform-origin: top center;
  background:yellow;
}

.bottom {
  transform: rotateX(270deg) translate3d(0,100px,0);
  transform-origin: bottom center;
  background:orange;
}