body{

	overflow-x:hidden;
}

/*===================
fonts
===================*/

p, .nav, .btn{
	font-family:   arial, helvetica, sans-serif;
}
p{
	color:#555657;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: arial, helvetica, sans-serif;
	text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav{
	color: #2D3134;
}



.journey h3,
.journey h1,
.what_we_do h3,
.training h1,
.training h3,
.what_people_say h1, 
.what_people_say p,
.what_people_say,
.footer_section,
.footer_section p,
.footer_section h5,
.footer_section h6{
	color:#fff;
}

/*=======================
Nav
========================*/

.nav{
	text-transform: uppercase;
	
}

.navtop{
	background: #000;
}

.navmenu{
	position: relative;
	height:100px;
	margin-bottom: 25px;
}

.navmenu ul{
	position: absolute;
	bottom:0;
}

.navmenu ul li{
	padding:0 5px;
}

@media(max-width:767px){
	.nav,
	.navmenu{
		display: none;

	}
}

a,
a:visited,
a:active{
	color:#fff;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color:#2D3134;
}

.anchor {
    height: 75px;
    margin-top: -75px;
    display: block;
    visibility: hidden;
}


/*==================
Carousel
===================*/
.carousel{
	height:50vh;
	z-index:10;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    top:40%;
}

.carousel-item > *{
	text-align: left;
}

.carousel h1{
	font-size: 2em;
	color:#fff;
}
/*====================
Second Carousel
=====================*/
.carousel-indicators-2{
	display: none;
}

/*==================
Page Header
===================*/
.home{
	background: url(../images/header_image.jpg);
	background-position: center; 
	padding-bottom:0;
}

.contentbee{
	position:relative;
	top:60px;
	z-index:1;

}
.bee{
	position: absolute;
	max-width:90%;
	bottom:30px;

}

.bluebar{
	margin-top: 30px;
	padding:20px 0;
	background-color: #2496D3;
	opacity: .85;
	height:80px;	
}

.form-control{
	width:100%;
	background-color:#225e9c;
	color:#fff;
}

input-placeholder{
	color:    #fff;
   opacity:  1;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff !important;
}



/*===========================
Journey section
===========================*/

.white{
	margin:25px 0;
}

.journey{
	background: url(../images/pwd.jpg);
	position:relative;
	background-position: 0 100%;
	background-size: cover;
}

#journey_bee{
	top:15%;
	left:45%;
	width:30%;
	position:absolute;
	z-index: 5;	
}

/*===================
What We Do
====================*/

.what_we_do div img{
	width:100%;
}

/*===============================
Photo overlay
================================*/

.photo {
	position: relative;
	overflow: hidden;
}

.photo-overlay{
	opacity: 0;
	transition: opacity .5s;
	color: #fff;
	position: absolute;
	top: 0;
	right: 15px;
	bottom: 0; 
	left: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slide{
	overflow: hidden;
}

.slide .button {
	color: #fff;
}

.slide .photo-overlay {
	background-color: #2496D3;
	opacity: .85;
}

.slide .photo-overlay,
.slide img {
 transition: transform .6s ease-out;
}

.slide .photo-overlay {
 transform:translateY(75%);
}

.slide:hover .photo-overlay {
 transform:translateY(0); 
}

.photo-overlay p, .date-overlay p{
	font-size: .90em;
	color:#fff;
}

.photo-overlay hr{
	width:20%;
	border-color:#fff;
}

/*===========================
Training
============================*/

.training{
	background:url(../images/churchgig.jpg);
	position: relative;
	background-position: center;
	background-size: cover;
}

/*=============================
Latest News
==============================*/

.date-overlay{
	background-color: #2496D3;
	opacity: .85;
	color: #fff;
	position: absolute;
	top:0;
	left: 15px;
	width:50px;
	height:45px;	
	
}

.date-overlay p{
	text-align: center;
}

/*=======================
What People Say
=======================*/

.what_people_say{
	background: url(../images/BrianFallon.jpg);
	position:relative;
	background-position: 0 100%; 
	background-size: cover;
}

/*===================
Get In Touch
====================*/


.contactinfo{
	font-size: .85em;
}

.white a{
	color:#555657;
}

.svg{
	width:25%;
	height:auto;
}

/*=====================
Footer
======================*/

.footer_section{
	background-color:#000;
	background: url(../images/footer.jpg) no-repeat;
	background-position: 0 75%; 
	padding-bottom:0;
	margin-bottom: 0;
	background-size: cover;
}

.footer_section ul{
	list-style: circle;
}

.footer_section ul li{
	line-height: 2;
}


.footer_section hr{
	width:20%;
	border-color: #2496D3;
}

.contactinfo a:hover{
	color:#F9C631;
}

.footeremail{
	background:rgba(0,0,0,0.5);
	
}

.content hr{
	border-color: yellow;
}

.content{
	position:relative;
	bottom:0px;
	z-index:500;
	opacity:0.75;

}

.content > .footerbar{
	min-height:200px;
	background:#F9C631;
	
}

footer a,
footer a:active,
footer a:visited{
	color:#2496D3;
}

footer a:hover{
	color:#fff;
}

/*=======================
Buttons
========================*/

.btn{
	text-transform: uppercase;
	border-radius:7px;
}

.btn-icon{
	border:#fff solid 2pt;
}

.btn-icon:hover{
	background: none;
	border:#F9C631 solid 2pt;
}

.btn-header-booknow{
	border:#F9C631 solid 2pt ;
	color:#F9C631 ;
}

.btn-header-booknow:hover{
	background: #F9C631;
	border:#F9C631 solid 2pt ;
}

.bluebutton{
	color:#f00 ;
	border:#f00 solid 2pt;

}

.whitebutton, .whatwedobutton, .quotebutton{
	color:#fff;
	border:#fff solid 2pt;
}

.bluebutton:hover,
.whitebutton:hover{
	background:#000;
	border:#000 solid 2pt;
}

.whatwedobutton:hover,
.quotebutton:hover{
	background:#fff;
	border:#fff solid 2pt;
	color:#2496D3;
}


